<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{{'Header.TOGGLE_NAVIGATION' | translate}}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{'Header.PROJECT_NAME' | translate}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">{{'Menu.HOME' | translate}}</a>
                </li>
                <li><a href="#about">{{'Menu.ABOUT' | translate}}</a>
                </li>
                <li><a href="#contact">{{'Menu.CONTACT' | translate}}</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>