<div data-ng-controller="shell">
    <div data-ng-include="'app/layout/header.html'"></div>
    <div class="container">
        <h1>{{'TITLE' | translate}}</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer auctor in quam non rutrum. Vivamus ut arcu fermentum, tempus orci quis, tristique quam.
            <br> Integer pretium porttitor massa, iaculis vulputate dui sollicitudin in. Curabitur suscipit, neque sit amet lobortis commodo, sapien ex accumsan nulla, quis ultricies augue enim in ex.
        </p>

        <i class="fa fa-thumbs-o-up fa-big"></i>
    </div>
</div>